/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  cursor: pointer;
}

/* Main Container Styling */
.login {
  padding: 30px;
  background-color: rgba(44, 62, 80, 0.08);
  width: 100%;
  max-width: 50%;
  margin: 2% auto;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(44, 62, 80, 0.6);
}

/* Heading Styling */
.login h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #34495e;
  font-weight: 700;
}

/* Label styling */
.login label {
  display: block;
  font-size: 18px;
  text-align: start;
  font-weight: 600;
  color: #34495e;
}

/* Input Fields */
.login input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Input field focus styling */
.login input:focus {
  border-color: #2c3e50;
  outline: none;
  box-shadow: 0 0 5px rgba(44, 62, 80, 0.5);
}

/* Button Styling */
.login button {
  width: 100%;
  padding: 12px;
  margin: 10px 0px;
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

/* Button Hover Styling */
.login button:hover {
  background-color: #1a252f;
}

/* Go Back Link Styling */
.login .goback {
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

/* Go Back Anchor Tag Hover */
.login .goback a:hover {
  text-decoration: underline;
}

/* Links Container Styling */
.login .links {
  text-align: center;
}

/* Link Anchor Tag */
.login .links a {
  text-decoration: none;
}

/* Link Anchor Tag Hover*/
.login .links a:hover {
  text-decoration: underline;
}

/* Span Tag Styling */
.login span {
  color: red;
  font-size: 17px;
}

/* Span Tag Anchor Tag Styling */
.login span a {
  text-decoration: none;
}

/* Span Tag Anchor Tag Hover Styling */

.login span a:hover {
  text-decoration: underline;
}

/* Responsive Design */

@media screen and (max-width: 992px) {
  .login {
    margin-top: 5%;
    padding: 25px;
    max-width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .login {
    max-width: 65%;
  }
}
@media screen and (max-width: 576px) {
  .login {
    padding: 20px;
    max-width: 95%;
  }

  .login label {
    font-size: 16px;
  }

  .login input,
  .login button {
    font-size: 15px;
  }
}
