/* General Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    cursor: pointer;
  }
  
  /* Main Profile Container */
  .MainProfileDiv {
    background-color: rgba(44, 62, 80, 0.2);
    min-height: 100vh;
    padding: 40px 20px;
    text-align: center;
    margin-left: 250px; 
    transition: margin-left 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  /* Card Styling */
  .OnePersonViewCard {
    margin-top: 50px;
    width: 100%;
    max-width: 700px;
    background-color: #ecf0f17a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
  }
  
  .OnePersonViewCard img {
    height: auto;
    width: 100%;
    max-width: 300px;
    margin: 20px auto 10px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
  }
  
  .Cardbody {
    margin-top: 5%;
  }
  
  /* Responsive Styles */
  @media (max-width: 992px) {
    .MainProfileDiv {
      margin-left: 0; 
      padding-top: 100px;
    }
  
    .OnePersonViewCard {
      max-width: 80%;
      padding: 15px;
    }
  }
  
  @media (max-width: 576px) {
    .OnePersonViewCard {
      margin-top: 17%;
      padding: 15px;
    }
  
    .Cardbody {
      margin-top: 10px;
    }
  
    .OnePersonViewCard img {
      max-width: 150px;
    }
  
    .Cardbody h3,
    .Cardbody h5,
    .Cardbody h6 {
      font-size: 1rem;
    }
  }
  