/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  cursor: pointer;
}

/* Table styling */

.tablediv {
  padding: 30px;
  background-color: #ecf0f156;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 100%;
  height: auto;
}

.tablediv th,
.tablediv td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  background-color: #ecf0f197;
}

.tablediv th {
  background-color: #0989ff;
  font-weight: bold;
  font-size: 17px;
}

.tablediv td {
  background-color: #ecf0f176;
  font-size: 16px;}

.tablediv img{
  border-radius: 5px;
  width: 100%;
  max-width: 100px;
  height: auto;
  object-fit: cover;
}

.tablebtn {
  background-color: #0989ff;
  padding: 5px 3px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}

.tablebtn:hover {
  background-color: #2d7bc5;
  padding: 10px 7px;
  transition: 3s;
  border-radius: 50px;
}
.tabledltbtn {
 
  background: none;
  border: none;
}
.tabledltbtn:hover {
  background-color: #0989ff;
  padding: 10px ;
  transition: 3s;
  border-radius: 50px;
}

@media (max-width: 1024px) {
  .tablediv{
    padding: 20px;
  }
  .tablediv th,
  .tablediv td {
    font-size: 14px;
  }
  
}
@media (max-width: 768px) {
  .tablediv {
    max-width: 100%;
    padding: 10px;
    overflow: scroll;
  }

  .tablediv th,
  .tablediv td {
    font-size: 12px;
  }
  .tablediv img{
    width: 80px;
  }
}

@media (max-width: 480px) {
  .tablediv {
    padding: 5px;
    overflow: scroll;
  }
  .tablediv th,
  .tablediv td {
    font-size: 12px;
  }

  .tablediv img{
    width: 60px;
  }
}
