/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  cursor: pointer;
}
.OnePersonViewCard {
  margin-top: 50px;
  width: 100%;
  max-width: 700px;
  background-color: #ecf0f17a;
  justify-content: center;
  align-items: center;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
}
.OnePersonViewCard img {
  height: auto;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Cardbody {
  margin-top: 5%;
}

@media (max-width: 576px) {
  .OnePersonViewCard {
    width: 100%;
    padding: 15px;
  }

  .Cardbody {
    margin-top: 10px;
  }

  .OnePersonViewCard img {
    max-width: 150px;
    border-radius: 50%;
  }

  .Cardbody h3,
  .Cardbody h5,
  .Cardbody h6 {
    font-size: 1rem;
  }
}
